/* ---------- Color Module Styles ----------- */
body,
body.overlay {
  /* HTML Background */
  background-color: #eeeeee;
  /* Text Color */
  color: #1a1a1a;
}
#page {
  /* Main Background */
  background-color: #ffffff;
}
a:link, a:visited {
  /* Link Color */
  color: #717072;
}
a:hover, a:focus, a:active, a.active {
  /* Link Alt Color */
  color: #009fda;
}
