/**
* gaislandora specific site theme overrides.
*/
#header {
  flaot: left !important;
  clear: left !important;
  width: 100% !important;
  height: auto;
  margin: auto !important;
  padding-bottom: 0em !important;
  padding-top: 0em !important;
}

#header_logo_wrapper{
  width: 50%;
  float: left;
/*   border: 1px solid red !important; */
}

#name-and-slogan {
/*     border: 1px solid red !important; */
/*     margin-left: 49%; */
    width: 50%;
    float: right !important;
    margin-right: 0em !important;
    white-space: nowrap;
} 

#name-and-slogan h1 {
  text-align: right;
  margin-top: 1em;
  text-color: #871616;
  margin-right: 1em;
}

#name-and-slogan h1 a span {
  color: #044d80;
}
#site-slogan {
  text-align: right;
  color: #871616 !important;
  font-style: italic;
  font-size: 1.5em; 
  margin-right: 1.8em;
}

.header__logo {
  margin-top: 2em !important;
  float: none !important;
  max-height: 47px;
} 

#navigation .links li:nth-child(1){
  border-top-color: #6E6259 !important;
}

#navigation .links li:nth-child(2){
  border-top-color: #ACDEE6 !important;
}
#navigation .links li:nth-child(3){
  border-top-color: #7AA300 !important;
}
#navigation .links li:nth-child(4){
  border-top-color: #FF8533 !important;
}
.header__logo-image {
  max-height: 10em;
  height: auto;
}
.header__site-link{
  display: block !important;
  width: 100%;
}
.header__site-link > span{
  padding-left:30px;
}
#footer .footer-navigation.top ul li:nth-child(3) a {
  background-image: url("../images/multisite_logos/gaislandora_logo_footer.png") !important;
  width: 132px !important;
  height: 80px !important;
}