.header__logo-image {
  height: auto;
  max-height: 10em;
  width: auto;
}
.header__logo-image {
  vertical-align: bottom;
  max-height: 7.25em;
  max-width: 22em;
}
#site-name {
  padding-top: 8px;
}

.header__name-and-slogan {
  clear: right;
  float: right;
  height: 100%;
  margin-bottom: 2%;
  margin-left: 0;
  margin-top: 2% !important;
  margin-right: 0em !important;
  width: 50%;
}

#header_logo_wrapper {
  width: 50%;
}